@use "sass:math";

@mixin btn(
  $bg-color: #e2e2e2,
  $border-radius: math.div($base-border-radius, 4)
) {
  background-color: $bg-color;
  padding: $base-padding $base-padding * 2;
  display: inline-flex;
  border-radius: $border-radius;
  transition: all 0.3s linear;
  border: none;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val, math.div($base-border-radius, 4));
    &:hover {
      background-color: lighten($val, 10);
    }
  }
  // link button
  .btn-#{$key}-link {
    @include btn($val, math.div($base-border-radius, 4));
    text-decoration: underline;
    background-color: transparent;
    text-decoration-color: $val;
    text-underline-position: under;
    &:hover {
      color: $val;
      text-decoration-thickness: 2px;
    }
  }

  .btn-#{$key}-icon {
    @include btn(transparent, math.div($base-border-radius, 4));
    color: $val;
    &:hover {
      color: lighten($val, 10);
    }
  }

  // rounded buttons
  .btn-#{$key}-rounded {
    @include btn($val, $base-border-radius);
    &:hover {
      background-color: lighten($val, 10);
    }
  }

  .btn-outlined-#{$key} {
    @include btn(#fff, math.div($base-border-radius, 4));
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }

  // rounded outlined buttons
  .btn-outlined-#{$key}-rounded {
    @include btn(#fff, $base-border-radius);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }

  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.7;
}
/* CTA sizes */
.btn-lg {
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  min-width: 80px;
}
.btn-sm {
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
}

/* floating action button */
.btn-float-action {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 1rem;
  border-radius: 50%;
  z-index: 10;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* toggle button */

.btn-toggle {
  position: relative;
  height: 26px;
  width: 44px;
  display: block;
  cursor: pointer;
}

.btn-checkbox {
  height: 0;
  width: 0;
  margin: 0;
  opacity: 0;
}

.btn-toggle .btn-slider-round {
  position: absolute;
  top: 0;
  left: 9px;
  height: 26px;
  width: 26px;
  background-color: #326dee;
  border-radius: 50%;
  transition: 0.4s;
}
.btn-toggle .btn-slider-round::before {
  position: absolute;
  content: "";
  top: 0;
  left: 9px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
  transition: 0.4s;
}

.btn-toggle .btn-checkbox:checked + .btn-slider-round::before {
  transform: translateX(-18px);
}
.btn-toggle .btn-checkbox:checked + .btn-slider-round {
  background-color: #326dee;
}
